:root {
  --v-red: #E7004C;
  --v-white: #ece8e1;
  --v-black: #0f1923;
  --v-outline: rgba(236, 232, 225, 0.5);
}

*,
::after,
::before {
  box-sizing: border-box;
}

#container {
  width:24rem;
}

button:hover {
  color: var(--v-white);
}

/* LABEL  */
.label {
  position: relative;
  overflow: hidden;
  margin: 0;
}

.label:before {
  content: "";
  height: 100%;
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

/* Hover Effect */
.hover-effect {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 120%;
  top: 0;
  left: -5%;
  z-index: 1;
  background-color: var(--v-red);
  transform: translateX(-100%) skew(-10deg);
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

button:hover .hover-effect {
  transform: translateX(0) skew(-10deg);
}

/* Label Text */
.label-text {
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
  display: block;
  padding: 0.8rem;
  background-color: transparent;
  z-index: 1;
}

.label-text:after {
  content: "";
  display: block;
  position: absolute;
  height: 0.6rem;
  width: 0.6rem;
  right: 0;
  bottom: 0;
  background-color: var(--v-black);
  transition: background-color 0.2s ease-in;
}
button:hover .label-text:after {
  background-color: var(--v-white);
}

/* PRIMARY BUTTON */
.primary {
  color: var(--v-black);
}

.primary .label::before {
  background-color: var(--v-white);
}
